.groups-container  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: #fefefe;
}

.groups-container h1 {
  font-size: 70px;
  padding: 0 40px;
  color: #1fbae9;
}

.groups-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.groups-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(4, 11, 60, 0.9);
  border-radius: 10px;
  margin: 20px;
  text-decoration: none;
}

.groups-box a:hover[href] {
  background-color: rgba(4, 11, 60, 0.8);
}

.groups-box a h1 {
  color: #fefefe;
  font-size: 40px;
}

.groups-box a p {
  color: #fefefe;
  font-size: 25px;
}

.groups-box a img {
  width: 200px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .groups-box {
    grid-template-columns: repeat(1, 1fr);
  }
}