.start {
  display: flex;
  /* margin-top: 10vh; */
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 11, 60, 0.95);
}

.start::after {
  content: "";
  background-size: cover;
  background-image: url('../assets/background-pc.jpg');
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.start img {
  width: 400px;
  margin-bottom: 50px;
}

.start .cesupa-logo {
  margin-top: 100px;
  width: 200px;
}

.start button {
  padding: 20px;
  border-radius: 4px;
  background-color: #1fbae9;
  border: 0;
  color: #fefefe;
  font-size: 20px;
  font-weight: 600;
}

@keyframes upAndDown {
  0%, 100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}

.start svg {
  position: absolute;
  bottom: 0;
  width: 100px;
  fill: #fefefe;
  margin-bottom: 40px;
  animation: upAndDown 1s linear infinite;
}

@media (max-width: 450px) {
  .start img {
    width: 300px;
  }

  .start button {
    padding: 15px;
    border-radius: 4px;
    background-color: #1fbae9;
    border: 0;
    color: #fefefe;
    font-weight: 600;
    font-size: 14px;
  }

  .start .cesupa-logo {
    width: 150px;
  }
}

@media (max-width: 340px) {
  .start img {
    width: 250px;
  }

  .start .cesupa-logo {
    width: 120px;
  }
}